@page "/home"
@namespace SmartRecipes.Server.Components.Pages.RazorComponents
@using Microsoft.AspNetCore.Identity
@using SmartRecipes.Application.Utilities

<PageTitle>Home</PageTitle>

<p>
    
</p>


<div class="body">
    <div class="main">
        <SearchBar />
        <p class="pop-recepies-title">Популярные рецепты:</p>
        <div class="pop-recepies">
            <Card CardType="CardTypes.Small" Model="new()" />
            <Card CardType="CardTypes.Small" Model="new()" />
            <Card CardType="CardTypes.Small" Model="new()" />
            <Card CardType="CardTypes.Small" Model="new()" />
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext httpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {

    }
}